dist/
node_modules/
.env
*.log
.node-version
packages/bot/src/config/config.ts
packages/bot/src/test.ts
packages/speak/src/config/config.ts
packages/speak/src/config/*.json
.data/*.data
.vscode
output/
youtubeCookie.json
*-player-script.js
.cache/
