export const CONFIG = {
    // Listen info for API Server
    HOSTNAME: '127.0.0.1',
    PORT: '4044',
    // use privillage user
    HOST_URL: 'http://exsample.com',
    USER: 'USER',
    // Discord APP_ID
    APP_ID: 'APP_ID',
    // Discord member role id
    MEMBER_ROLE_ID: 'MEMBER_ROLE_ID',
    // Discord guild administrator user id
    ADMIN_USER_ID: ['DISCORD_ID'],
    // register command to guild
    COMMAND_GUILD_ID: ['COMMAND_GUILD_ID'],
    // Discord Bot Token
    TOKEN: 'YOUR_DISCORD_TOKEN',
    // Forecast API Key
    // OpenWeatherMap; see: https://openweathermap.org/
    FORECAST_KEY: 'YOUR_FORECAST_KEY',
    YOUTUBE_API_KEY: 'YOUTUBE_API_KEY',
    OPENAI: {
        EMAIL: 'OPENAI_MAIL',
        PASSWORD: 'OPENAI_PASSWORD',
        ORG: 'YOUR_OPENAI_ORG_KEY',
        KEY: 'YOUR_OPENAI_SECRET',
        ACCESSTOKEN:
            'YOUR_TOKEN: https://chat.openai.com/api/auth/session'
    },
    DB: {
        HOSTNAME: 'HOSTNAME',
        USERNAME: 'USERNAME',
        DATABASE: 'DATABASE',
        PASSWORD: 'PASSWORD',
        FLUSH: false,
    },
};